<h1>LonguestWord#game</h1>

<%= @grid %>

<form action="/score" method="get">
  <div class="form-group">
    <label for="try">your best shot</label>
    <input type="text" class="form-control" name="your_try" id="try" placeholder="Your best shot">
  </div>
  <!-- <input type="hidden" name="grid" multiple="multiple" value="<%= @grid.join(",") %>"> -->
  <!-- <input type="hidden" name="start_time" value="<%= @start_time %>"> -->

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
